.concurrentWarning {
    display: none;
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 100% !important;
    z-index: 10001 !important;
    padding: 20px 15px 15px;
    box-shadow: #eee 0 2px 5px !important;
    background: #fff !important;
    font-family: Helvetica, Arial, sans-serif;
    text-align:center !important;
    color: black !important;
    font-size: large !important;
}
.concurrentWarning .concurrentWarningButtonPublishedPage {
    margin-left: 5px;
}